<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComtactPage</title>
      <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<h1>Contact Page</h1>
 <nav>
     <a href="/">Home</a>
     <a href="/about">About</a>
     <a href="/contact">Contact</a>
    </nav>
<img  style="width: 200px;" src="/assets/images/p2.jpg" alt="Contact Page">
<h3>mukul234@gmail.com</h3>
</body>
</html>