<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <h1>Home Page</h1>
    <nav>
     <a href="/">Home</a>
     <a href="/about">About</a>
     <a href="/contact">Contact</a>
    </nav>
    <img style="width: 200px;" src="/assets/images/p1.png" alt="Home Page">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, odio tempore accusamus, vel culpa nam quas quae autem nostrum, quam officiis officia ex. Corrupti totam ea repellat, quisquam odit ducimus.</p>
</body>
</html>