<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
     Odit, excepturi placeat et sapiente enim maxime fugiat <br>
     aspernatur explicabo ullam eaque nobis consequatur aliquid ipsum ex eius recusandae iste autem mollitia?</p>
     <h2>Our Services</h2>
     <ul>
        <li>Web Development</li>
        <li>Mobile Development</li>
        <li>Desktop App Development</li>
     </ul>
</body>
</html>