<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="srylesheet"  href="/css/style.css"></link>
</head>
<body>
        <h1>Home Page</h1>  
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Doloribus consectetur, deleniti aspernatur assumenda praesentium expedita provident quos 
         ad amet adipisci atque temporibus aliquam,
         explicabo similique perferendis. Vero vel dolorum aut!
        </p>
</body>
</html>