<nav>
    <ul>
        <li>
            <a href="/"></a>
        </li>
         <li>
            <a href="/variables">Variables</a>
        </li>
         <li>
            <a href="/contact">Contact</a>
        </li>
         <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>